@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background: theme("colors.n-dark-blue");
    padding: theme("padding[6]");
    border-radius: theme("borderRadius.2xl");
    padding-bottom: theme("padding.8");
    max-width: 25.7rem;
  }

  @media (min-width: theme("screens.sm")) {
    .card {
      border-radius: 1.75rem;
      padding: theme("padding.8");
    }
  }

  .card__header {
    font-size: theme("fontSize.2xl");
    font-weight: theme("fontWeight.bold");
    color: theme("colors.n-white");
    margin-top: 0.515rem;
  }

  @media (min-width: theme("screens.sm")) {
    .card__header {
      margin-top: theme("margin.5");
      font-size: theme("fontSize.3xl");
    }
  }

  .card__copy {
    margin-top: theme("margin[3]");
    letter-spacing: theme("letterSpacing.tight");
  }

  @media (min-width: theme("screens.sm")) {
    .card__copy {
      margin-top: theme("margin[1]");
      letter-spacing: theme("letterSpacing.normal");
      line-height: theme("lineHeight.relaxed");
    }
  }

  .circle {
    border-radius: theme("borderRadius.full");
    background-color: theme("colors.n-medium-gray");
    width: theme("width[10]");
    aspect-ratio: 1 / 1;
  }

  @media (min-width: theme("screens.sm")) {
    .circle {
      width: theme("width[12]");
      width: theme("width.12")
    }
  }

  .circle:hover,
  .circle:focus-visible {
    background-color: theme("colors.n-light-gray");
    color: theme("colors.n-white");
  }

  .circle:active {
    background-color: theme("colors.p-orange");
  }

  .circle.selected {
    background-color: theme("colors.p-orange");
    color: theme("colors.n-white");
  }

  .button {
    margin-top: theme("margin.6");
    background-color: theme("colors.p-orange");
    color: theme("colors.n-white");
    width: 100%;
    border-radius: theme("borderRadius.full");
    padding: theme("padding[3]");
    text-transform: uppercase;
    font-weight: theme("fontWeight.bold");
    letter-spacing: theme("letterSpacing.widest");
    font-size: theme("fontSize.sm");
  }

  @media (min-width: theme("screens.sm")) {
    .button {
      margin-top: 2.25rem;
    }
  }

  @media (min-width: 26.125rem) {
    .card__copy span {
      display: block;
    }
  }
}
